$primary-color: #293462;
$secondary-color: #ff7700;
$white-color: #fff;
$black-color: #000;
$darkBlack-color: #333;
$lightBlack-color: #666;
$grey-color: rgb(222, 216, 216);

$paragraph-font: "Poppins", sans-serif;
$header-font: "Alfa Slab One", cursive;

$border-radius: 0.5rem;
