.adminCostumers {
  &__filter {
    width: 100%;
    background: #2b2d35;
    padding: 2rem;
    border-radius: $border-radius;
    margin-bottom: 2rem;
    input {
      width: 100%;
      padding: 1.5rem;
      color: $white-color;
      background: none;
      border: 1px solid rgb(142, 138, 138);
      border-radius: $border-radius;
    }
  }
  &__table {
    background: #2b2d35;
    width: 100%;
    text-align: left;
    font-size: 1.4rem;
    border-radius: $border-radius;
    border-collapse: collapse;
    th {
      font-weight: 800;
      text-transform: uppercase;
    }
    td {
      &:nth-child(6) {
        span {
          &:first-child {
            margin-right: 2rem;
          }
        }
      }
    }
    th,
    td {
      padding: 2rem;
      color: $grey-color;
    }
    tr {
      &:not(:last-child) {
        border-bottom: 1px solid rgb(54, 53, 53);
      }
    }
  }
}
